language: python
cache: pip
python:
  - 3.6
#virtualenv:
#  system_site_packages: true
install:
  - python setup.py bdist_wheel
  - pip install dist/acquantum_connector*.whl
script:
  python -m unittest discover -s test/ -t test/
bundler_args: --retry 5
env:
  global:
    - secure: rhKgjwQKVTleoARjmjc6jeGG6SzCmT6PR6eSTIQz7YgutQ7AcnQ54OssNA+jMba4xZgrha+c1xQeTbwbSiu1XjUI6Ox4UAQ58w7LL3MAwbKDB7VDyiGVIsTOBlLdN8lJaKAaX73jBF9VeMaYGAb0LLvFZKo+1eX8hTnLs4KVifw1asqyHNXrF1bmmnLf5wcnt81fybQxFbV0QMNrNWDY2s7Vow6kFSMvVRXFRM6AcqDmjxvA/mEpZKWkPZXaN9clyge4IPCjV1soOtVg3KIDcJSh6f2G5Y3QYOIiJ2pggHXea0Foq9guVJCI2ry8BN78dXTmfhoFcHsyK3kTXJUWlSYPFeLO6Q1sSTDpC/s9Jw2vokjdsLi68YsV51QQfXpidZH5DxbAQh9wKKqCnBR+GXFFwLG2Rec6+39MvyF1a+E43YgIZTX+j9iXxeOU1s6bgH6dmpgDQTH9eD0xwmGnFnJpYoMocF/YK/8xPNtsHtuT9R+YjOTFdBCPY4jhP/pXjHAePKJTS/8GscBlUlh9A3ndjcDRi+IY7MeymPZ8yk6+2ODdFbQhANmw/4FWzLsD0bpbcTZ2ywtmMZHmAVMev3ngOEm/dtd6kGCXOuQqToNwWYg8WvioC79RN1L/pj1XCSoqP2vP2F3lWkwuzhYokbyLGz6TbIEnIf885W/HAUA=
    - secure: cXqD+8L4zLMuvm4+rEJPFfOzxMN28Jt+/RCGqc8N76rDsz1GHnlkSHAa/BoBpwC7HrKaGeFx1EbGKRsMr/GzhBGMUFt1lksG8/DGxQ+qVv15fviLWcIxnL3W2pbMYu7GDoc2Po5qU5t/5FQvwF8lWTamU86AqntZihsNUodngoXjwuOuZrjad002i6uPFMxhrkMeLj5+8ihNq1SLpjS0y8p9aHaEiqSRuXZtVqsJc8NUajFAFl1LkP+efOTwkWbOKAGP4t4DfaCFBfiHk8RDYZBo1nodvCauJXo3AqwqbgrQMHBn8d7FlESEkMxTEh3Q3X8STjadAHKl9rN0XBpp9/1aLAmgJKfSb5cw3Rpq8/qpX0VGgjy7lTbk2fmMLAeq/aD/GUCGCjY/tchCYyGlDpVqgIHVuG6Hm3xf+KK/D/QHaQSVtYYzQAEWFozW3JwrpUVq7O55RFFoZ/Y931uxJY8VgVumRlKKfSFa7PIMDpXHE7zAVoR53U7M6/yWeGqoG0JHewf1Fxc5v/VF1CWu7dLfOxlR/fXynaUbaBGRUEH4Uugs8b5/rbWuSwuvaiVP8R+3kuthRqt8FQSMD8cUINoA0IuY7K0g0MV0TVH8vVNd0xBBHJZKcTw+SRbIobeuOkbJzF79mjZLlkAWL0kHUkaj6XkPOiaUV+199cBN3ZU=
